<div class="container-fluid">
  <ngb-tabset>
    <ngb-tab title="My Classes">
      <ng-template ngbTabContent>

        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel *ngFor="let semester of semesters" id="semseter-{{semester.id}}" class="test">
            <ng-template ngbPanelTitle>
              {{semester.season}}&nbsp;{{semester.year}}
            </ng-template>
            <ng-template *ngIf="filterClassesForSemester(semester) as filteredClasses" ngbPanelContent>
              <table *ngIf="filteredClasses.length > 0" class="table">
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let class of filteredClasses">
                    <tr>
                      <td>{{class.courseAbbreviation}}</td>
                      <td>{{class.courseName}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <span *ngIf="filteredClasses.length === 0">No classes scheduled for this semester.</span>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Calendar">
      <ng-template ngbTabContent>

        <br/>

        <mwl-calendar-header
          [(view)]="view"
          [(viewDate)]="viewDate">
        </mwl-calendar-header>

        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            [activeDayIsOpen]="true"
            (eventClicked)="eventClicked($event)"
            (dayClicked)="dayClicked($event.day)">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="events"
            (eventClicked)="eventClicked($event)">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="events"
            (eventClicked)="eventClicked($event)">
          </mwl-calendar-day-view>
        </div>

      </ng-template>
    </ngb-tab>
    <ngb-tab title="Semesters">
      <ng-template ngbTabContent>
        <div *ngIf="semesters && semesters.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Season/Year</th>
                <th>First Class Date</th>
                <th>Last Class Date</th>
                <th>First Exam Date</th>
                <th>Last Exam Date</th>
                <th>Registration Date</th>
                <th>Add/Drop Deadline</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let semester of semesters">
                <tr>
                  <td><b>{{semester.season}} {{semester.year}}</b></td>
                  <td>{{semester.firstClassDate}}</td>
                  <td>{{semester.lastClassDate}}</td>
                  <td>{{semester.firstExamDate}}</td>
                  <td>{{semester.lastExamDate}}</td>
                  <td>{{semester.classRegistrationDate}}</td>
                  <td>{{semester.dropAddDeadlineDate}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>


<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>